---
import Layout from "../layouts/Layout.astro";

const section =
  "flex flex-col sm:flex-row justify-center my-16 md:my-20 items-baseline";
const h2Tag = "text-crusta-900 leading-normal self-center	sm:self-auto pr-3";
const mainText = "grow leading-relaxed text-left";
const linkClass = "text-white hover:underline underline-offset-4";
---

<Layout title="Home Page" bgColor="bg-crusta-300">
  <main class="px-10 text-[#27272A]">
    <h1
      class="text-5xl sm:text-6xl sm:text-7xl pt-8 text-center tracking-widest font-semibold"
    >
      <a href="/"><span class="text-crusta-900">#</span> Yufan</a>
    </h1>
    <div
      class="text-2xl sm:text-3xl md:text-4xl tracking-widest text-left max-w-xl sm:max-w-2xl md:max-w-3xl mx-auto font-semibold"
    >
      <div class={section}>
        <span class={h2Tag}>##</span>
        <p class={mainText}>
          你好~我是來自台灣的網站開發人員。我喜歡建立簡單且直觀的設計，不論是前端還是後端，這裡有我已經完成的各種<a
            href="/projects"
            class={linkClass}>專案</a
          >。
        </p>
      </div>
      <div class={section}>
        <span class={h2Tag}>##</span>
        <p class={mainText}>
          如果有任何的問題，麻煩請與我<a
            href="mailto:et860525@gmail.com"
            class={linkClass}>聯繫</a
          >。<br />以上的資訊如果還不夠的話，這裡還有更多<a
            href="/about"
            class={linkClass}>關於我</a
          >的更多資訊。
        </p>
      </div>
    </div>
  </main>
</Layout>
