---
import type { ImageMetadata } from "astro";
import GithubSVG from "../../public/svgs/github-mark.svg";
import ProjectImg from "../../public/images/Morning-things.png";

export interface Props {
  title: string;
  image: ImageMetadata;
  content: string;
  tags: string[];
  url: string;
}

const { title, image = ProjectImg, content, tags, url } = Astro.props;
---

<div
  class="relative justify-end mb-10 overflow-hidden tracking-wide rounded-lg project-card p-9 lg:p-0 bg-crusta-200 dark:bg-[#454652] drop-shadow-xl lg:flex"
>
  <img
    src={image.src}
    class="absolute top-0 left-0 hidden w-7/12 rounded project-img lg:block"
  />
  <div class="z-10 project-content lg:w-5/12 lg:p-9">
    <h3 class="mb-8 text-2xl font-semibold sm:text-3xl">{title}</h3>
    <p class="mb-5" set:html={content} />
    <div class="mb-5 project-tags">
      <div class="flex flex-wrap gap-1">
        {
          tags.map((tag) => (
            <span class="px-3 py-1 font-semibold border-2 rounded border-crusta-500 text-crusta-500 dark:border-[#76a1ff] dark:text-[#76a1ff]">
              {tag}
            </span>
          ))
        }
      </div>
    </div>
    <div class="project-link">
      <a
        href={url}
        class="px-4 py-2 font-bold text-white rounded bg-crusta-500 hover:bg-crusta-600 dark:bg-[#76a1ff] dark:hover:bg-[#5d8cfd]"
      >
        <img src={GithubSVG.src} alt="" class="inline w-5 pb-1" /> View Source</a
      >
    </div>
  </div>
</div>
